:root {
  --bg: #fff;
  --primary2: #ff0000;
  --primary3: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 3000px;
}

.kontak1 {
  background-color: rgb(68, 67, 73);
}

.kontak {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.kontak-right,
.kontak-left {
  display: flex;
  list-style-type: none;
}

.kontak-left > li,
.kontak-right > li {
  display: flex;
}

.kontak-right > li > a,
.kontak-left > li > a {
  height: 40px;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.kontak-right > li > a:hover,
.kontak-left > li > a:hover {
  color: #ff0000;
}

.header {
  padding: 20px 0;
}

.logo {
  color: #ff0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search {
  min-height: 40px;
  padding-left: 50px;
  padding-right: 12px;
}

.search-bar {
  display: flex;
  border-width: 1px;
  border-radius: 40px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  max-width: 400px;
  overflow: hidden;
  position: relative;
  min-width: 400px;
}

.search-bar > i {
  width: 50px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.navbar2 {
  list-style-type: none;
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar1 {
  background-color: #0e46a3;
  width: 100%;
}

.navbar2 > li {
  min-width: 40px;
  display: table-cell;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-right-style: none;
  border-left-style: none;
  text-align: center;
}

.navbar2 > li > a {
  height: 100%;
  line-height: 40px;
  color: #fff;
  padding: 0 20px;
}

.navbar2 > li > a:hover {
  background-color: #fff;
  color: #0e46a3;
  padding: 20px;
}

/* css for auto slide navigation*/

.sliders {
  display: flex;
}

.slider {
  margin: auto;
  margin-top: 10px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.slide {
  width: 900px;
  height: 500px;
}

.slider img,
.slide img {
  width: 800px;
  height: 500px;
}

.slide input {
  display: none;
}

.slide {
  width: 20px;
  transition: 2s;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  width: -40px;
  display: flex;
  justify-content: center;
  margin-top: 470px;
}

.manual-btn {
  border: 2px solid #ff0000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: #ff0000;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -10%;
}

#radio3:checked ~ .first {
  margin-left: -20%;
}
